<div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Leave a Message</h4>
      </div>
      <div class="modal-body">

        <form action="MAILTO:lawlessdrag0n@gmail.com" method="post" enctype="multipart/form-data">

          Your Name:<br>
          <input type="text" size="20" name="Name"><br><br>
          Your Email:<br>
          <input type="text" size="20" name="Email"><br><br>
          Comment:<br>
          <textarea name="body" rows="5" cols="40">
          </textarea><br><br>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn" value="Send">
        </form>
      </div>
    </div>
  </div>
</div>