<div class="modal fade" id="thunderclap" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content thunderclap">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Sign Up for Thunderclap</h4>
      </div>
      <div class="modal-body">
        <iframe frameborder='0' height='540px' src='https://www.thunderclap.it/projects/44537-between-two-fires/embed' width='250px'></iframe>
      </div>
    </div>
  </div>
</div>