<div class="background-static">
  <div class="container">
    <section class="content">
        <h1>About Mark Noce</h1>
        <div class="line"></div>
        <br>
        <div class="about-text">
          I write historical fiction with a passion, and eagerly read everything from fantasy to literature. Born and raised in the San Francisco Bay Area, I'm an avid traveler and backpacker, particularly in Europe and North America. I earned my BA and MA from Cal Poly, San Luis Obispo, where I also met my beautiful wife. By day, I work as a Technical Writer, having spent much of my career at places like Google and Facebook. In addition to writing novels, I also write short fiction online. When not reading or writing, I'm probably listening to U2, sailing my dad’s boat, or gardening with my family.
          <br><br>
          My debut novel, Between Two Fires, is being published by Thomas Dunne Books (an imprint of St. Martin's Press and Macmillan). It is the first in a series of historical fiction novels set in medieval Wales. To learn more about Between Two Fires, and any of my other upcoming publications, checkout my <%= link_to "Books", books_path %> section.
        </div>
        <div class="about-mark-photo col-sm-4">
        </div>
    </section>
  </div>
</div>