<%= render partial: "socialnav" %>
<%= render partial: "bottomsocialnav" %>
<div class="background-static">
  <div class="container">
    <section class="content medium">
      <h1>Appearances</h1>
      <div class="line"></div>
      <br>
      <div>
        <h3><u>Upcoming Events</u></h3>
        <div class="appearances-side-panel">
          <a href="/books"><img id="appearances_book_art" class="book_img" src="assets/DarkWindsRising.jpg"/></a>
          <div class="dropdown fl-lt">
            <button onclick="myFunction()" class="dropbtn">Available Now!</button>
            <div id="myDropdown" class="dropdown-content">
              <a href="https://www.amazon.com/Dark-Winds-Rising-Novel-Branwen/dp/1250072638/ref=tmm_hrd_swatch_0?_encoding=UTF8&qid=&sr=" target="_blank">Amazon</a>
              <a href="https://www.amazon.com/Dark-Winds-Rising-Mark-Noce-ebook/dp/B0716WT9VS" target="_blank">Amazon Kindle</a>
              <a href="https://www.barnesandnoble.com/w/dark-winds-rising-mark-noce/1125377225?ean=9781250072634&st=PLA&sid=BNB_DRS_Core+Shopping+Books_00000000&2sid=Google_&sourceId=PLGoP75606" target="_blank">Barnes & Noble</a>
              <a href="https://www.barnesandnoble.com/w/dark-winds-rising-mark-noce/1125377225?ean=9781466884441&st=PLA&sid=NOK_DRS_NOOK+EBooks_00000000&2sid=Google_&sourceId=PLGoP75008" target="_blank">B&N Nook</a>
              <a href="https://itunes.apple.com/se/book/dark-winds-rising/id1237059301?l=en&mt=11" target="_blank">iTunes</a>
              <a href="http://www.indiebound.org/book/9781250072634" target="_blank">Indiebound</a>
            </div>
          </div>
        </div>
        <ul>
          <li>
            <h4>Burlingame, CA - The Burlingame Main Library.</h4>
              <p>Sunday, December 10, 2017 at 2pm</p>
              <p>Located in the Lane Room (via Books, Inc.)</p>
              <p><a href="https://goo.gl/maps/toxFFUMk2D92" target="_blank">480 Primrose Road<br>
              Burlingame, CA 94010</a></p>
          </li>
          <li>
            <h4>Sacramento, CA - The Avid Reader at Tower.</h4>
              <p>Saturday, Janurary 13, 2018 at 5pm</p>
              <p>New location near 20th on</p>
              <p><a href="https://goo.gl/maps/8FA2vS6P2ZL2" target="_blank">1945 Broadway<br>
              Sacramento, CA 95818</a></p>
          </li>
        </ul>
        <br>
        <h3><u>Past Events</u></h3>
        <ul>
          <li>
            <p>California State Fair - July 15 & 22, 2017</p>
          </li>
          <li>
            <p>Authors on the Move - March 4, 2017</p>
          </li>
          <li>
            <p>Mark Hopkins Hotel - February 17, 2017</p>
          </li>
          <li>
            <p>Mills High School - January 26, 2016</p>
          </li>
          <li>
            <p>BDNA - December 15, 2016</p>
          </li>
          <li>
            <p>NaNoWriMo Session - November 13, 2016</p>
          </li>
          <li>
            <p>Mills High School - November 8, 2016</p>
          </li>
          <li>
            <p>Green Apple Books - November 6, 2016</p>
          </li>
          <li>
            <p>Barnes & Noble, San Luis Obispo - October 15, 2016</p>
          </li>
          <li>
            <p>The Avid Reader at Tower - September 3, 2016</p>
          </li>
          <li>
            <p>Burlingame Library - August 27, 2016</p>
          </li>

        </ul>
      </div>
    </section>
    <div class="bottom-banner">
      <a href="http://www.amazon.com/Between-Two-Fires-Mark-Noce/dp/125007262X" target="_blank"><img src="assets/BTFBanner.gif"></a>
    </div>
  </div>
</div>
