<div class="background-static">
  <div class="container">
    <section class="content medium margin-bottom">
      <h1>Appearances</h1>
      <div class="line"></div>
      <br>
      <div>
        <h3><u>Between Two Fires Tour Dates</u></h3>
      <img id="appearances_book_art" class="book_img" src="assets/BetweenTwoFires.jpg"/>
        <ul>
          <li>
            <h4>Burlingame, CA – Burlingame Main Library.<h4>
              <p>Saturday, August 27, 2016 at 2pm</p>
              <a href="https://www.google.com/maps/place/Burlingame+Library+480+Primrose+Road,Burlingame,CA+94010" target="_blank"><p>Burlingame Library</p>
              <p>480 Primrose Road</p>
              <p>Burlingame, CA 94010</p></a>
          </li>
          <br>
          <li>
            <h4>Sacramento, CA – The Avid Reader at Tower.</h4>
              <p>Saturday, September 3rd at 2pm</p>
              <a href="https://www.google.com/maps/place/Avid+Reader+1600,Broadway,Sacramento+CA+95818" target="_blank"><p>The Avid Reader at Tower</p>
              <p>1600 Broadway</p>
              <p>Sacramento, CA 95818</p></a>
          </li>
          <br>
          <li>
            <h4>San Luis Obispo, CA – Barnes & Noble Downtown.</h4>
              <p>Saturday, October 15th at 2pm</p>
              <a href="https://www.google.com/maps/place/Barnes+%26+Noble+San+Luis+Obispo,CA+93401" target="_blank"><p>Barnes & Noble</p>
              <p>894 Marsh Street</p>
              <p>San Luis Obispo, CA 93401</p></a>
          </li>
        </ul>
      </div>

    </section>
  </div>
</div>