<%= render partial: "socialnav" %>
<%= render partial: "bottomsocialnav" %>
<div class="background-static">
  <div class="container">
    <section class="content medium">
      <h1>Appearances</h1>
      <div class="line"></div>
      <br>
      <div>
        <h3><u>Upcoming Events</u></h3>
        <div class="appearances-side-panel">
          <a href="/books"><img id="appearances_book_art" class="book_img" src="assets/BetweenTwoFires.jpg"/></a>
          <div class="dropdown fl-lt">
            <button onclick="myFunction()" class="dropbtn">Available Now!</button>
            <div id="myDropdown" class="dropdown-content">
              <a href="http://www.amazon.com/Between-Two-Fires-Mark-Noce/dp/125007262X" target="_blank">Amazon</a>
              <a href="https://www.amazon.com/Between-Two-Fires-Mark-Noce-ebook/dp/B01BBXEZL4/ref=tmm_kin_swatch_0?_encoding=UTF8&qid=1466777586&sr=8-4&tag=smarturl-20" target="_blank">Amazon Kindle</a>
              <a href="http://www.barnesandnoble.com/w/between-two-fires-mark-noce/1122537645?ean=9781250072627" target="_blank">Barnes & Noble</a>
              <a href="http://www.barnesandnoble.com/w/between-two-fires-mark-noce/1122537645?ean=9781466884434" target="_blank">B&N Nook</a>
              <a href="https://itunes.apple.com/us/book/between-two-fires/id1080308282?mt=11" target="_blank">iTunes</a>
              <a href="http://www.indiebound.org/book/9781250072627" target="_blank">Indiebound</a>
            </div>
          </div>
        </div>
        <ul>
          <li>
            <h4>Mountain View, CA – BDNA.</h4>
              <p>Thursday, December 8, 2016</p>
              <p>BDNA</p>
              <p><a href="https://goo.gl/maps/PA5KBYyH9ot" target="_blank">339 N Bernardo Ave # 206<br>
              Mountain View, CA 94043</a></p>
          </li>
          <br>
          <li>
            <h4>Millbrae, CA – Mills High School.</h4>
              <p>Thursday, January 26, 2017 at 8:30am</p>
              <p>Mills High School</p>
              <p><a href="https://goo.gl/maps/s18zEA9JBCG2" target="_blank">400 Murchison Dr.<br>
              Millbrae, CA 94030</a></p>
          </li>
          <br>
          <li>
            <h4>San Francisco, CA – Mark Hopkins Hotel.</h4>
              <p>Friday, February 17, 2017 at 8am</p>
              <p>Mark Hopkins Hotel (The Peacock Room)</p>
              <p><a href="https://goo.gl/maps/3VG86XTofJM2" target="_blank">999 California Street<br>
              San Francisco, CA 94108</a></p>
          </li>
          <br>
          <li>
            <h4>Sacramento – Authors on the Move.</h4>
              <p>Saturday, March 4, 2017 at 10pm</p>
              <p>Hyatt Regency Downtown</p>
              <p><a href="https://goo.gl/maps/4MtmD8nYS4T2" target="_blank">91209 L Street<br>
              Sacramento, CA 95814</a></p>
          </li>
        </ul>
        <br>
        <h3><u>Past Events</u></h3>
        <ul>
          <li>
            <p>NaNoWriMo Session - November 13, 2016</p>
          </li>
          <li>
            <p>Mills High School - November 8, 2016</p>
          </li>
          <li>
            <p>Green Apple Books - November 6, 2016</p>
          </li>
          <li>
            <p>Barnes & Noble, San Luis Obispo - October 15, 2016</p>
          </li>
          <li>
            <p>The Avid Reader at Tower - September 3, 2016</p>
          </li>
          <li>
            <p>Burlingame Library - August 27, 2016</p>
          </li>

        </ul>
      </div>
    </section>
    <div class="bottom-banner">
      <a href="http://www.amazon.com/Between-Two-Fires-Mark-Noce/dp/125007262X" target="_blank"><img src="assets/BTFBanner.gif"></a>
    </div>
  </div>
</div>