<%= render partial: "socialnav" %>
<%= render partial: "bottomsocialnav" %>
<div class="background-static">
  <div class="container">
    <section class="content medium margin-bottom">
      <h1>Appearances</h1>
      <div class="line"></div>
      <br>
      <div>
        <h3><u>Between Two Fires Tour Dates</u></h3>
      <div class="appearances-side-panel">
        <img id="appearances_book_art" class="book_img" src="assets/BetweenTwoFires.jpg"/>
        <div class="dropdown fl-lt">
          <button onclick="myFunction()" class="dropbtn">Pre-order it Now!</button>
          <div id="myDropdown" class="dropdown-content">
            <a href="http://www.amazon.com/Between-Two-Fires-Mark-Noce/dp/125007262X" target="_blank">Amazon</a>
            <a href="https://www.amazon.com/Between-Two-Fires-Mark-Noce-ebook/dp/B01BBXEZL4/ref=tmm_kin_swatch_0?_encoding=UTF8&qid=1466777586&sr=8-4&tag=smarturl-20" target="_blank">Amazon Kindle</a>
            <a href="http://www.barnesandnoble.com/w/between-two-fires-mark-noce/1122537645?ean=9781250072627" target="_blank">Barnes & Noble</a>
            <a href="http://www.barnesandnoble.com/w/between-two-fires-mark-noce/1122537645?ean=9781466884434" target="_blank">B&N Nook</a>
            <a href="https://itunes.apple.com/us/book/between-two-fires/id1080308282?mt=11" target="_blank">iTunes</a>
            <a href="http://www.indiebound.org/book/9781250072627" target="_blank">Indiebound</a>
          </div>
        </div>
      </div>
        <ul>
          <li>
            <h4>Burlingame, CA – Burlingame Main Library.<h4>
              <p>Saturday, August 27, 2016 at 2pm</p>
              <p>Burlingame Library</p>
              <p><a href="https://www.google.com/maps/place/Burlingame+Library+480+Primrose+Road,Burlingame,CA+94010" target="_blank">480 Primrose Road <br>
              Burlingame, CA 94010</a></p>
          </li>
          <br>
          <li>
            <h4>Sacramento, CA – The Avid Reader at Tower.</h4>
              <p>Saturday, September 3, 2016 at 2pm</p>
              <p>The Avid Reader at Tower</p>
              <p><a href="https://www.google.com/maps/place/Avid+Reader+1600,Broadway,Sacramento+CA+95818" target="_blank">1600 Broadway<br>
              Sacramento, CA 95818</a></p>
          </li>
          <br>
          <li>
            <h4>San Luis Obispo, CA – Barnes & Noble Downtown.</h4>
              <p>Saturday, October 15, 2016 at 2pm</p>
              <p>Barnes & Noble</p>
              <p><a href="https://www.google.com/maps/place/Avid+Reader+1600,Broadway,Sacramento+CA+95818" target="_blank">894 Marsh Street<br>
              San Luis Obispo, CA 93401</a></p>
          </li>
          <br>
          <li>
            <h4>San Francisco, CA - Green Apple Books.</h4>
              <p>Sunday, November 6, 2016 at 7pm</p>
              <p>Green Apple Books</p>
              <p><a href="https://goo.gl/maps/nqPEwSgwvam" target="_blank">506 Clement Street<br>
              San Francisco, CA 94118</a></p>
          </li>
        </ul>
      </div>

    </section>
  </div>
</div>