<script src="https://www.googleapis.com/blogger/v3/blogs/8458581324926992168/posts?callback=handleResponse&key=AIzaSyBPO9bgsBJ4Iw2R2Pcj8JZWrOMejLUz5AA"></script>
<%= render partial: "socialnav" %>
<%= render partial: "bottomsocialnav" %>
<div class="background">
  <div class="container">
    <section class="floaters content">
      <div class="right-sidebar">
        <div class="google-plus">
          <%= image_tag 'markblogpic.jpg', class: "blogpic" %>
          <h3><u>Mark Noce Stories</u></h3>
          <p>
            Welcome to my blog! Here is where I keep notes on all of my latest writing endeavors as well as other creative authors in the community.
          </p>
        </div>
        <div class="google-plus book-ad">
          <a href="/books"><img class="book_img" src="assets/BTFSquare.gif" width="236"/></a>
          <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Available Now!</button>
            <div id="myDropdown" class="dropdown-content">
              <a href="http://www.amazon.com/Between-Two-Fires-Mark-Noce/dp/125007262X" target="_blank">Amazon</a>
              <a href="https://www.amazon.com/Between-Two-Fires-Mark-Noce-ebook/dp/B01BBXEZL4/ref=tmm_kin_swatch_0?_encoding=UTF8&qid=1466777586&sr=8-4&tag=smarturl-20" target="_blank">Amazon Kindle</a>
              <a href="http://www.barnesandnoble.com/w/between-two-fires-mark-noce/1122537645?ean=9781250072627" target="_blank">Barnes & Noble</a>
              <a href="http://www.barnesandnoble.com/w/between-two-fires-mark-noce/1122537645?ean=9781466884434" target="_blank">B&N Nook</a>
              <a href="https://itunes.apple.com/us/book/between-two-fires/id1080308282?mt=11" target="_blank">iTunes</a>
              <a href="http://www.indiebound.org/book/9781250072627" target="_blank">Indiebound</a>
            </div>
          </div>
        </div>
      </div>
      <div id="blogger">
      </div>
    </section>
    <div class="blogFooter">
      <a href="#" id="blogNext">Next 5</a>
    </div>
    <div class="bottom-banner">
      <a href="https://www.amazon.com/Dark-Winds-Rising-Novel-Branwen/dp/1250072638/ref=tmm_hrd_swatch_0?_encoding=UTF8&qid=&sr=" target="_blank"><img src="assets/darkwindsbanner.jpg"></a>
    </div>
  </div>
</div>
