<section class="floaters">
<div class="right-sidebar">
  <%= image_tag 'markblogpic.jpg', class: "blogpic" %>
  <h3><u>Mark Noce Stories</u></h3>
  <p>
    Welcome to my blog! Here is where I keep notes on all of my latest writing endeavors as well as other creative authors in the community.
  </p>
</div>
<div id="blogger">
  <h1>Blog</h1>
  <p>
  </p>
</div>
</section>