<script src="https://www.googleapis.com/blogger/v3/blogs/8458581324926992168/posts?callback=handleResponse&key=AIzaSyBPO9bgsBJ4Iw2R2Pcj8JZWrOMejLUz5AA"></script>
<%= render partial: "socialnav" %>
<%= render partial: "bottomsocialnav" %>
<div class="background">
  <div class="container">
    <section class="floaters content">
      <div class="right-sidebar">
        <div class="google-plus">
          <%= image_tag 'markblogpic.jpg', class: "blogpic" %>
          <h3><u>Mark Noce Stories</u></h3>
          <p>
            Welcome to my blog! Here is where I keep notes on all of my latest writing endeavors as well as other creative authors in the community.
          </p>
        </div>
        <div class="google-plus">
          <iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 220px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 284px;" tabindex="0" vspace="0" width="100%" id="I0_1415611352123" name="I0_1415611352123" src="https://apis.google.com/_/im/_/widget/render/plus/followers?usegapi=1&amp;action=followers&amp;height=300&amp;source=blogger%3Ablog%3Afollowers&amp;theme=DARK&amp;width=220&amp;hl=en&amp;origin=http%3A%2F%2Fwww.marknoce.com&amp;url=https%3A%2F%2Fplus.google.com%2F108088682845200469700&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en._bVNyeN_bbw.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Ft%3Dzcms%2Frs%3DAGLTcCNVi76pN7FwO7NMq1jDa6m1n12XYA#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I0_1415611352123&amp;parent=http%3A%2F%2Fwww.marknoce.com&amp;pfname=&amp;rpctoken=24746661" data-gapiattached="true" title="+1"></iframe>
        </div>
        <div class="google-plus book-ad">
          <a href="/books"><img class="book_img" src="assets/BTFSquare.gif" width="236"/></a>
          <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Available Now!</button>
            <div id="myDropdown" class="dropdown-content">
              <a href="http://www.amazon.com/Between-Two-Fires-Mark-Noce/dp/125007262X" target="_blank">Amazon</a>
              <a href="https://www.amazon.com/Between-Two-Fires-Mark-Noce-ebook/dp/B01BBXEZL4/ref=tmm_kin_swatch_0?_encoding=UTF8&qid=1466777586&sr=8-4&tag=smarturl-20" target="_blank">Amazon Kindle</a>
              <a href="http://www.barnesandnoble.com/w/between-two-fires-mark-noce/1122537645?ean=9781250072627" target="_blank">Barnes & Noble</a>
              <a href="http://www.barnesandnoble.com/w/between-two-fires-mark-noce/1122537645?ean=9781466884434" target="_blank">B&N Nook</a>
              <a href="https://itunes.apple.com/us/book/between-two-fires/id1080308282?mt=11" target="_blank">iTunes</a>
              <a href="http://www.indiebound.org/book/9781250072627" target="_blank">Indiebound</a>
            </div>
          </div>
        </div>
      </div>
      <div id="blogger">
      </div>
    </section>
    <div class="blogFooter">
      <a href="#" id="blogNext">Next 5</a>
    </div>
    <div class="bottom-banner">
      <a href="https://www.amazon.com/Dark-Winds-Rising-Novel-Branwen/dp/1250072638/ref=tmm_hrd_swatch_0?_encoding=UTF8&qid=&sr=" target="_blank"><img src="assets/darkwindsbanner.jpg"></a>
    </div>
  </div>
</div>
