<div class="background">
  <div class="container">
    <section class="content medium">
      <h1>Novels</h1>
      <div class="line"></div>
      <br>
      <div>
      <img id="book_img1" class="book_img" src="assets/lady_knight.jpg" align="left" width="300"/>
      <h3>Between Two Fires</h3>
        <p>
          Saxon barbarians threaten to destroy medieval Wales. Lady Branwen becomes Wales’ last hope to unite their divided kingdoms when her father betroths her to a powerful Welsh warlord, the Hammer King.
        </p>
        <p>
          But this fledgling alliance is fraught with enemies from within and without as Branwen herself becomes the target of assassinations and courtly intrigue. A young woman in a world of fierce warriors, she seeks to assert her own authority and preserve Wales against the barbarians. But when she falls for a young hedge knight named Artagan her world threatens to tear itself apart. Caught between her duty to her people and her love of a man she cannot have, Branwen must choose whether to preserve her royal marriage or to follow her heart. Somehow she must save her people and remain true to herself, before Saxon invaders and a mysterious traitor try to destroy her.
        </p>
      </div>
      <br><br>
      <div>
      <img class="book_img" src="assets/lady_knight2.jpg" width="250" align="right" />
      <h3>The Long Defeat</h3>
        <p>
          Only a few years after uniting the Welsh to defeat the Saxons, Queen Branwen finds her world once again turned upside down as Pictish raiders harry the shores of her kingdom. Rallying her people once again, she must face her most dangerous foe yet, the Queen of the Picts. Ruthless and cunning, the Pictish Queen turns the Welsh against each other in a bloody civil war, and Branwen must attempt to stop her before her country threatens to tear itself apart. All the while Branwen is heavy with child, and finds her young son’s footsteps dogged by a mysterious assassin. Branwen and her husband, King Artagan, must somehow defeat the Picts and save their people before the Pictish Queen and a mysterious assassin threaten to destroy their lives from the inside out.
        </p>
      </div>
      <br><br>
      <div class="line"></div>
      <br>
      <h1>Short Stories</h1>

      <h3>London Bound</h3>
        <p>
          “London Bound” offers a fictional account of my very real experiences during the July 7, 2005 London Bombings. Published by Cal Poly’s Moebius Magazine, “London Bound” describes the experiences of an American backpacker stranded on a train with several strangers when the terrorists attack. Read my short-story <a href="http://digitalcommons.calpoly.edu/moebius/vol5/iss1/27/" target="_blank">“London Bound”</a> online or view the entire <a href="http://digitalcommons.calpoly.edu/moebius/vol5/iss1/" target="_blank">Moebius Magazine</a> . My story is humbly dedicated to those who lost their lives that day.
        </p>
      <h3>Flash Fiction</h3>

      Three of my flash fiction pieces have been published at Every Day Fiction. Each story is under 1,000 words in length, and is set in contemporary times. Check out the links below.

      - <a href="http://www.everydayfiction.com/meet-me-at-the-waterfront-by-mark-noce/" target="_blank"><h4>“Meet Me at the Waterfront“</h4></a>
        <p>
          A magical-realism piece, Meet Me at the Waterfront examines a boy standing up to the schoolyard bully and what happens when he learns something both about himself and the boy he fears.
        </p>
      <a href="http://www.everydayfiction.com/chronicles-of-the-sfpd-by-mark-noce/"><h4>“Chronicles of the SFPD”</h4></a>
        <p>
          A contemporary noir story set in San Francisco's seedy Tenderloin, Chronicles of the SFPD follows a newbie police officer trying to make good on the tough streets of a modern city.
        </p>


      <a href="http://www.everydayfiction.com/disturbance-at-apartment-408-by-mark-noce/"><h4>“Disturbance at Apartment 408”</h4></a>
        <p>
          Another short noir story, Disturbance at Apartment 408 shows us what happens when a greenhorn police officer has to deal with the unpredictable entanglements of a disturbance-call gone awry.
        </p>
    </section>
  </div>
</div>