<div class="background-static">
  <div class="container">
    <section class="content">
      <h1>Novels</h1>
      <div class="book">
        <div class="book-image">
        </div>
        <div class="book-description">
          <h3>Between Two Fires</h3>
          <p>
            Between Two Fires is the first book of a historical fiction series set in medieval Wales.
          </p>
        </div>
      </div>
      <div class="book">
        <div class="book-image">
        </div>
        <div class="book-description">
          <h3>The Long Defeat</h3>
          <p>
            The Long Defeat is the second novel in the historical fiction series set in medieval Wales.
          </p>
        </div>
      <h1>Short Stories</h1>
      <div class="book">
        <h3>London Bound</h3>
        <p>
          “London Bound” offers a fictional account of my very real experiences during the July 7, 2005 London Bombings. Published by Cal Poly’s Moebius Magazine, “London Bound” describes the experiences of an American backpacker stranded on a train with several strangers when the terrorists attack. Read my short-story “London Bound” online or view the entire Moebius Magazine. My story is humbly dedicated to those who lost their lives that day.
        </p>
      </div>
    </section>
  </div>
</div>