<div class="background-static">
  <div class="container">
    <%= render partial: "message" %>
    <section class="content medium">
      <h1>Contact</h1>
      <p>
        I love hearing from readers! Connect with me via email below. Thanks!
      </p>
      <!-- <p>
        <a href="#" data-toggle="modal" data-target="#message">Leave a Message</a>
      </p> -->
      <p>
        <a href="MAILTO:markcnoce@gmail.com">Email Me</a>
      </p>

    </section>
  </div>
</div>