.content {
  /*margin: 0 auto;*/
  /*margin-left: 5%;*/
  margin-top: 7%;
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom:2%;
  max-width: 950px;
  border-radius: 2px;
  background-color: rgba(30,30,30,0.9);
  color: #e5e4e2;
  font-family: 'Quicksand', sans-serif;
  display: inline-block;
  min-width: 900px;
  word-wrap: break-word;
}
.background {
  background-image: url('foggyforrest.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.background-static {
  position: absolute;
  background-image: url('foggyforrest.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
}
.parallax {
  background-image: url('foggyforrest.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: none;
  z-index: -2;
  height: 900px;
  margin-bottom: 5%;
  background-position: center center;
}
.top-title {
  display: inline-block;
  width: 100%;
  margin-top: 5%;
  padding-right: 3%;
  z-index: 0;
}
.top-title-text {
  margin-top: 20%;
  font-family: 'Quicksand', sans-serif;  color: #e5e4e2;
  background-color: rgba(30,30,30,0.9);
}
.top-title img {
  width: 35%;
  text-align: center;
  margin-left: 30%;
  margin-right: 2%;
  box-shadow: 5px 5px 5px black;
  float: left;
}
.regular {
  font-family: 'Quicksand', sans-serif;
}
.homepage-bottom {
  margin-top: 5%;
  margin-bottom: -3%;
  width: 100%;
  min-height: 850px;
  padding: 5%;
  padding-left: 20%;
  background-color: white;
  color: #333333;
  display: inline-block;
  /*position: absolute;*/
  z-index: 10;
}
.title {
  font-size: 7em;
  font-family: 'Uncial Antiqua', cursive;
}
#welcome {
  height: 50px;
}
.welcome-link {
  padding-top: 2%;
}
.welcome-link a {
  text-decoration:none;
  background-color: #36648B;
  color: white;
  padding: 1%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #333333;
}
.welcome-link a:hover {
  background-color: white;
  color: #333333;
}
#quote-slideshow {
  padding-top: 1%;
  float:left;
  display: inline-block;
  margin-left: -60%;
  width: 250px;
}
#quote-slideshow p {
  position: absolute;
  width: 250px;
}
#quote-slideshow p:nth-child(2),
#quote-slideshow p:nth-child(3) {
  display: none;
}
.quote {
  font-size: 1.2em;
}
.medium {
  font-size: 1.25em;
}
.large {
  font-size: 2em;
}
.larger {
  font-size: 4em;
}
.align-right {
  text-align: right;
}
.center {
  text-align: center;
}
.profile-photo {
  width: 200px;
  height: 300px;
  border-radius: 2px;
  box-shadow: 5px 5px 5px #4d4d4d;
  background-image: url('mark.jpg');
  float: left;
}
.about-mark-photo {
  width: 200px;
  height: 300px;
  border-radius: 2px;
  background-image: url('about_mark.jpg');
  float: left;
}
.welcome-text {
  float: left;
  margin-right: 2%;
  max-width: 600px;
}
.welcome-text a {
  opacity: 0.8;
}
.welcome-text a:hover {
  opacity: 1;
}
.about-text {
  float: left;
  margin-right: 2%;
  height: 40%;
  width: 70%;
  font-size: 1.5em;
}
#newsletter_link {
  margin-top: 3%;
}
#newsletter_link a {
  color: white;
  text-decoration: none;
  background-color: rgba(0, 0, 255, 0.9);
  padding: 2%;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #121212;
}
.thunderclap {
  max-width: 291px;
  max-height: 547px;
}
.floaters {
  display: inline-block;
}
.fl-left {
  float: left;
}

.fl-rt {
  float: right;
}

.margin-bottom {
  margin-bottom: 7%;
}

#blogger {
  width: 65%;
  float: left;
}

#blogger a {
  text-decoration: none;
}

.right-sidebar {
  margin-top: 10%;
  margin: 0 auto;
  padding: 5px;
  width: 250px;
  float: right;
  border: solid #4d4d4d;
  border-radius: 4px;
}
.blogpic {
  width: 236px;
  height: 220px;
  border-radius: 3px;
}

.blogFooter {
  padding: 50px;
  padding-left: 35%;
  max-width: 950px;
  background-color: rgba(30,30,30,0.9);
  font-size: 1.5em;
}

.book_img {
  border-radius: 3px;
  box-shadow: 3px 3px 3px #121212;
  margin-bottom: 10px;
}

#book_img1 {
  margin-right: 10px;
}

#long_defeat_img {
  float: right;
  width: 250px;
  margin-left: 15px;
}

#appearances_book_art {
  float: left;
  width: 300px;
}

.appearances-side-panel {
  width: 300px;
  float: right;
  display: inline-block;
  text-align: center;
}

.line {
  border-bottom: thin solid white;
}
.email-link {
  text-align: left;
}
.email-link a {
  text-decoration:none;
  background-color: #36648B;
  color: #E0E0E0;
  padding: 1%;
}
.email-link a:hover {
  background-color: #A4D3EE;
  color: #333333;
}
.social-links a {
  opacity: 0.7;
}
.social-links a:hover {
  opacity: 1;
}
.contact_img {
  width: 200px;
  float: right;
  border-radius: 3px;
  box-shadow: 5px 5px 5px #121212;
}
/* Mobile styles */
/* Tablet */
@media (max-width: 1000px) {
    .content {
      margin-top: 10%;
      width: 100%;
      min-width: 0;
    }
    #welcome {
      height: 0px;
    }
    .title {
      font-size: 4em;
      margin-top: 25%;
    }
    .top-title {
      margin-top: 10%;
    }
    .homepage-bottom {
      height: 80%;
      font-size: 0.5em;
      min-height: 700px;
    }
    .about-text {
      width: 100%;
      font-size: 1em;
    }
    .right-sidebar {
      margin-top: 10%;
      padding: 1%;
      width: 100%;
      float: none;
      display: inline-block;
      border: none;
    }
    .google-plus {
      float: left;
      max-width: 250px;
      margin-right: 25px;
    }
    .book-ad {
      display: none;
    }
    #long_defeat_img {
      width: 300px;
      margin-left: 15px;
    }
    #blogger {
      width: 90%;
    }
    #blogger img {
      width: 90%;
      height: 90%;
    }
    .welcome-link {
      display: none;
    }
    #quote-slideshow {
      display: none;
    }
    .contact_img_box {
      width: 100%;
    }
    .links_box {
      width: 100%;
    }
    .appearances-side-panel {
      display: none;
    }
    .dropbtn {
      padding: 8px;
      font-size: 14px;
    }
    .dropdown-content {
        margin-top: 0px;
    }
}
/*Mobile*/
@media (max-width: 480px) {
  .mobile-center {
    text-align: center;
    margin-left: -20px;
  }
  .content {
      margin-top: 10%;
      width: 100%;
  }
  #welcome {
    height: 0px;
  }
  .title {
    font-size: 2em;
    margin-top: 25%;
  }
  .top-title {
    margin-top: 15%;
  }
  .homepage-bottom {
    height: 80%;
    font-size: 0.5em;
  }
  .about-text {
    width: 100%;
    font-size: 1em;
  }
  .right-sidebar {
    margin-top: 10%;
    padding: 1%;
    float: left;
  }
  #blogger {
    width: 90%;
  }
  #blogger img {
    width: 90%;
    height: 90%;
  }
  #book_img1 {
    width: 90%;
    margin-right: 10px;
  }
  #long_defeat_img {
    float: none;
    width: 90%;
    margin-left: 10px;
  }
  .welcome-link {
    display: none;
  }
  .contact_img {
    float: none;
    width: 250px;
    margin-left: 5px;
    margin-bottom: 15px;
  }
  .contact_img_box {
    min-width: 250px;
  }
  .links_box {
    min-width: 250px;
  }
}